@using ProyectoCurso.Models
@model EmpleadoCLS
@{
    ViewBag.Title = "Agregar";
    List<SelectListItem> LSexo = (List<SelectListItem>)ViewBag.LSexo;
    List<SelectListItem> TContrato = (List<SelectListItem>)ViewBag.TContrato;
    List<SelectListItem> TUsuario = (List<SelectListItem>)ViewBag.TUsuario;
}

<h2>Agregar</h2>

<div class="row-1">
    <div class="col-md-6">

        @using (Html.BeginForm("Agregar", "Empleado", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(p => p.nombre)
                @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" })
                @Html.ValidationMessage("nombre", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.appaterno)
                @Html.TextBoxFor(p => p.appaterno, new { @class = "form-control" })
                @Html.ValidationMessage("appaterno", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.apmaterno)
                @Html.TextBoxFor(p => p.apmaterno, new { @class = "form-control" })
                @Html.ValidationMessage("apmaterno", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.fechacontrato)
                @Html.EditorFor(p => p.fechacontrato, new { htmlAttributes= new { @class = "form-control" } })
                @Html.ValidationMessage("fechacontrato", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.sueldo)
                @Html.TextBoxFor(p => p.sueldo, new { @class = "form-control" })
                @Html.ValidationMessage("sueldo", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.iddtipousuario)
                @Html.DropDownList("iddtipousuario", TUsuario, null, new { @class = "form-control" })
                @Html.ValidationMessage("iddtipousuario", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.iddtipocontrato)
                @Html.DropDownList("iddtipocontrato", TContrato, null, new { @class = "form-control" })
                @Html.ValidationMessage("iddtipocontrato", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.iddsexo)
                @Html.DropDownList("iddsexo", LSexo, null, new { @class = "form-control" })
                @Html.ValidationMessage("iddsexo", new { @class = "text-danger" })
            </div>

            <div class="m-2">
                <input type="submit" value="Enviar" class="btn-primary" />
            </div>
        }
    </div>
</div>

