@using ProyectoCurso.Models
@model List<BusCLS>
@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Agregar","Agregar", "Bus", null, new {@class = "btn btn-primary"})
<h2>Index</h2>

<table class="table table-bordered table-hover">

    <thead class="thead-dark">
        <tr>

            <td>@Html.LabelFor(p => Model[0].iidbus)</td>
            <td>@Html.LabelFor(p => Model[0].placa)</td>
            <td>@Html.LabelFor(p => Model[0].nombremodelo)</td>
            <td>@Html.LabelFor(p => Model[0].nombretipobus)</td>
            <td>@Html.LabelFor(p => Model[0].nombresucursal)</td>
            <td>
                Operaciones
            </td>

        </tr>
        
    </thead>

    <tbody>
        
       @foreach (var item in Model)
                
        {
            <tr>
                <td>@item.iidbus</td>
                <td>@item.placa</td>
                <td>@item.nombremodelo</td>
                <td>@item.nombretipobus</td>
                <td>@item.nombresucursal</td>
                <td>
                    @Html.ActionLink(" ", "Editar", "Bus", new { id = item.iidbus }, new { @class = "glyphicon glyphicon-edit btn btn-primary" })
                    @Html.ActionLink(" ", "Eliminar", "Bus", new { id = @item.iidbus }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

