@using ProyectoCurso.Models
@model List<ViajeCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <td>@Html.LabelFor(p => Model[0].iidViaje)</td>
            <td>@Html.LabelFor(p => Model[0].nombreBus)</td>
            <td>@Html.LabelFor(p => Model[0].nombreLugarOrigen)</td>
            <td>@Html.LabelFor(p => Model[0].nombreLugarDestino)</td>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model) 
        {
            <tr>
                <td>@item.iidViaje</td>
                <td>@item.nombreBus</td>
                <td>@item.nombreLugarOrigen</td>
                <td>@item.nombreLugarDestino</td>
            </tr>
        }
    </tbody>
</table>

